.hero {
  // padding: 5rem 0;
  text-align: center;
  min-height: 100vh;
  &.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 200px;
    @include phone{
      width: 200px;
    }
    @include tablet{
      width: 250px;
    }
    @include desktop{
      width: 250px;
    }
    @include largedesktop{
      width: 250px;
    }
    @include biglargedesktop{
      width: 250px;
    }
  }

  h2{
    font-family: "courier-std";
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -2px;
    margin: 0;
    @include phone{
      font-size: 2rem;
    }
    @include tablet{
      font-size: 2.5rem;
    }
    @include desktop{
      font-size: 2.5rem;
    }
    @include largedesktop{
      font-size: 2.5rem;
    }
    @include biglargedesktop{
      font-size: 2.5rem;
    }
  }
  h4{
    font-family: "courier-std";
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: -1px;
    margin: 0;
    @include phone{
      font-size: 1.7rem;
    }
    @include tablet{
      font-size: 2rem;
    }
    @include desktop{
      font-size: 2rem;
    }
    @include largedesktop{
      font-size: 2rem;
    }
    @include biglargedesktop{
      font-size: 2rem;
    }
  }
  h6{
    font-family: "courier-std";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin: 1rem auto;
    @include phone{
      font-size: 1rem;
    }
    @include tablet{
      font-size: 1.2rem;
    }
    @include desktop{
      font-size: 1.2rem;
    }
    @include largedesktop{
      font-size: 1.2rem;
    }
    @include biglargedesktop{
      font-size: 1.2rem;
    }
    a{
      color: #444;
      text-decoration: none;
      &:hover{
        color: #0000CD;
      }
    }
  }
}

.waves-effect.waves-side .waves-ripple {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(51, 51, 51, 0.35);
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.hero { height: 100vh; }
}