.main{
  @include position(relative, 0 0 0 0);
  width: 100%;
  direction: rtl;
  margin: 0 auto;
  padding: 3rem 1rem;
  @include phone{
   padding: 3rem 1rem;
  }
  @include tablet{
    padding: 3rem 1rem;
  }
  @include desktop{
    padding: 3rem 4rem;
  }
  @include largedesktop{
    padding: 3rem 7rem;
  }
  @include biglargedesktop{
    padding: 3rem 7rem;
  }
  .mainheader{
    padding: 0 0 2rem;
    flex-direction: column;
    .titlehead{
      width: 100%;
      a{
        color: #3D4853;
        transition: 200ms linear 0s;
        text-decoration: none;
        outline: none;
        &:hover{
          color: #3B73E2;
        }
        h1{
          font-family: GothamRoundedMedium,Sahel;
          font-size: 1.625rem;
          margin: 0rem 0 2rem;
        }
      }
    }
    
    .bodyhead{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      @include phone{
        align-items: flex-start;
        flex-direction: column;
      }
      @include tablet{
        align-items: flex-start;
        flex-direction: column;
      }
      @include desktop{
        align-items: center;
        flex-direction: row;
      }
      @include largedesktop{
        align-items: center;
        flex-direction: row;
      }
      @include biglargedesktop{
        align-items: center;
        flex-direction: row;
      }
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        width: 300px;
        li{
          display: flex;
          align-items: center;
          padding: .5rem 0;
          font-family: GothamRoundedMedium,Sahel;
          a{
            color:#3d4853;
            text-decoration: none;
            outline: none;
            transition: 200ms linear 0s;
            &:hover{
              color: #3B73E2;
            }
          }
          svg{
            margin-left: 1rem;
          }
        }
      }
      p{
        font-family: GothamRoundedMedium,Sahel;;
        line-height: 2;
        a{
          color:#3B73E2;
          text-decoration: none;
          outline: none;
          transition: 200ms linear 0s;
          &:hover{
            color: #3d4853;
          }
        }
      }
    }
  }
  .workassets{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        img{
          max-width: 100%;
          box-shadow:0 2px 4px rgba(61, 72, 83, .72);
          margin: .5rem 0;
        }
      }
    }
  }
}



pre{
  font-size: 1rem;
  text-align: left;
  overflow-x: auto;
  white-space: pre;
  background: #f5f6f5;
  padding: .5rem 1rem;
  border-radius: 3px;
  direction: ltr;
}

hr{
  border-bottom-color: #E1E1E1;
  border-top: 0;
  margin: 3rem auto;
  max-width: 85%;
  position: relative;
  
  &:after{
    content: "§";
    display: block;
    position: absolute;
    background-color: #FFF;
    left: 50%;
    top: -20px;
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0 10px;
    color: #D5D5D5;
    margin-left: -16px;
    }
}

code{
  background-color: whitesmoke;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 1em;
}

blockquote{
  border-right: 4px solid;
  padding-right: 1rem;
  margin: 0;
}


.en{
  text-align: left;
}
