<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, minimal-ui">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "assets/css/style.min.css" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/img/favicon-96x96.png">
    <meta property="og:url" content="https://hosseinkarami.com{% if page.url %}{{ page.url }}{% else %}{{ site.url }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}حسین کرمی{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 360 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.imglink %}{{ page.imglink }}{% else %}{{ site.url }}/assets/img/fb.png {% endif %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_Karamii">
    <meta name="twitter:domain" content="hosseinkarami.com">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}حسین کرمی{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 360 }}{% else %}{{ site.description }}{% endif %}">

  </head>