<header>
  <div class="tophead">
    <div class="head">
      <a href="{{site.url}}"><h1>Hossein Karami</h1></a>
      <h5>Front End Developer</h5>
    </div>
    <nav class="head-nav">
      <ul>
        <li>
          <a href="https://www.behance.net/{{ site.behance }}" target="_blank" rel="noreferrer">
            <h4>Behance</h4>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noreferrer">
            <h4>Twitter</h4>
          </a>
        </li>
        <li>
          <a href="https://github.com/{{ site.github }}" target="_blank" rel="noreferrer">
            <h4>Github</h4>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>