---
layout: blog
title: وبلاگ | حسین کرمی
---
{% for post in paginator.posts %}
<article>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <h4>{{ post.parsidate }}</h4>
  <section class="content">
    {{ post.content | truncatewords: 100 }}
  </section>
  <a href="{{ post.url }}" class="link">
    <div class="more waves-effect waves-side">
      <i class="mdi-navigation-chevron-left"></i>
      <span>بیشتر بخوانید</span>
    </div>
  </a>
</article>
{% endfor %}
{% include pagination.html %}